/* Definições padrões */
* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 2rem;
}

/* 
===================================================================================================================================================
BODY
*/

body {
    /* imagem de fundo */
    background-image: url(/imagens/eminem2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    /* zerando */
    padding: 0;
    margin: 0;
}

/* 
--------------------------------------------------------------------------------------------------------------------------------------------------
header
*/

header {
    background-color: black;
    color: white;

    padding: 10px;

    /* ativando o flex e colocando um espaço entre os elementos do header */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

/* __________________________navegador_________________________ */

nav {
    display: flex;
}

/* container com lista */
.nav {
    display: flex;   
    list-style: none; 
}

/* elemento sobre na lista */
.sobre {
    margin-right: 20px;
}

/* imagem menu */
.menu {
    height: 50px;
}

/* ___________________ container a contendo o perfil____________________ */
.a {
    display: flex;
    justify-content: flex-end;
}

/* container com os elementos de usuário */
.link {
    display: flex;
    text-decoration: none;
    color: white;
}

/* imagem usuário*/
.user {
    height: 20px;
    margin-top: 20px;
    margin-right: 5px;
}

/* nome */
.nome {
    margin-right: 10px;
}

/* imagem bebê */
.bb {
    height: 50px;
    border-radius: 10px;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
MAIN
*/

/* definições da primeira parte do main */
main {
    margin-bottom: 100px;
}

.main1 {
    background-color:rgba(245, 245, 245, 0.8);
    
    margin-top: 20px;
    margin-left: 300px;
    padding: 20px;

    border-radius: 10px;

    width: 60%;    
}

.main1 h1 {
    text-align: center;
}

/* definições do section sobre */
.sobre2 {
    background-color:rgba(245, 245, 245, 0.8);
    
    margin-top: 20px;
    margin-left: 300px;
    padding: 20px;

    border-radius: 10px;

    width: 60%;

}

/* definições do section contato */
.contato {
    background-color:rgba(245, 245, 245, 0.8);
    
    margin-top: 20px;
    margin-left: 300px;
    padding: 20px;

    border-radius: 10px;

    width: 60%;

}

/* definições do section interesses */
.interesses {
    background-color:rgba(245, 245, 245, 0.8);
    
    margin-top: 20px;
    margin-left: 300px;
    padding: 20px;

    border-radius: 10px;

    width: 60%;
}

/* 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
FOOTER */

footer {
    background-color: black;
    color: white;

    position: fixed;
    bottom: 0;

    width: 100%;

    text-align: center;
}

/* 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
responsividade
*/

/* para páginas com largunras menores que 768 pixels */
@media screen and (max-width: 768px) {

        /* primeiro main */
        .main1 {
            width: 92%;
            margin: 20px;

            background-color: rgba(0, 0, 0, 0.8);
            color: white;
        }

        /* section de sobre */
        .sobre2 {
            width: 92%;
            margin: 20px;

            background-color: rgba(0, 0, 0, 0.8);
            color: white;
        }

        /* section do contato */
        .contato {
            width: 92%;
            margin: 20px;

            background-color: rgba(0, 0, 0, 0.8);
            color: white;
        }

        /* section de interesses */
        .interesses {
            width: 92%;
            margin: 20px;

            background-color: rgba(0, 0, 0, 0.8);
            color: white;
        }

        /* imagem de fundo do body */
        body {
            background-image: url(/imagens/WhatsApp\ Image\ 2024-10-07\ at\ 10.39.56.jpeg);
        }
    }