/* Definições padrões */
* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 2rem;
}

/* 
===================================================================================================================================================
BODY
*/

body {
    /* imagem de fundo */
    background-image: url(/imagens/eminem2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    /* zerando */
    padding: 0;
    margin: 0;
}

/* 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
header
*/

header {
    background-color: black;
    color: white;

    padding: 10px;

    /* ativando o flex e colocando um espaço entre os elementos do header */
    display: flex;
    justify-content: space-between;
}

/* __________________________navegador_________________________ */

nav {
    display: flex;
}

/* container com lista */
.nav {
    display: flex;   
    list-style: none; 
}

/* elemento sobre na lista */
.sobre {
    margin-right: 20px;
}

/* elemento contato */
.cont {
    margin-right: 20px;
}

/* elemento home */
.link2 {
    text-decoration: none;
    color: white;
}

/* imagem menu */
.menu {
    height: 50px;
}

/* 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
MAIN
*/

main {
    background-color:rgba(245, 245, 245, 0.8);

    margin-top: 20px;
    margin-left: 300px;
    padding: 20px;

    border-radius: 10px;

    width: 60%;  

    display: flex;
}

/* imagem foto de perfil */
.bb {
    height: 300px;

    margin: 10px;

    border-radius: 50px;
}




/* 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
FOOTER */

footer {
    background-color: black;
    color: white;

    position: fixed;
    bottom: 0;

    width: 100%;

    text-align: center;
}

/* 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
responsividade
*/

@media screen and (max-width: 768px) {

        /* definições do main em telas menores */
        main {
            width: 92%;
            margin: 20px;

            background-color: rgba(0, 0, 0, 0.8);
            color: white;

            display: flex;
            flex-direction: column;
        }

        /* imagem de fundo do body */
        body {
            background-image: url(/imagens/WhatsApp\ Image\ 2024-10-07\ at\ 10.39.56.jpeg);
        }
    }    